{% extends 'base.html' %}
{% load static %}
{% block title %}编辑用户信息{% endblock %}
{% block content %}
    <div class="container">
        <form action="/editUser/" method="post">
            <div>
                <label>账号：</label>
                <input type="text" id="account" value="{{ userInfo.account }}">
            </div>
            <div>
                <label>姓名：</label>
                <input type="text" id="name" value="{{ userInfo.name }}">
            </div>
            <button type="submit">确认</button>
            <button type="reset">重置</button>
        </form>
    </div>
{% endblock %}